<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Altux Traduction') }}</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div id="menu"></div>

    <div class="container">
        <div class="form-title">
            <h1>{{ _('Traduction par ') }}<span class="color">Altux SA !</span></h1>
        </div>
        <!-- Les Traductions de textes -->
        <div class="form-container">
            <form id="translation-form">
                <h2>{{ _('Traduction de Texte') }}</h2>
                <div class="dropdown-container">
                    <div class="dropdown_box">
                        <div class="dropdown" id="source-dropdown">
                            <button type="button" class="dropdown-button"><span style="font-size: 1.5em;">⌄</span></button>
                            <div id="source-dropdown-content" class="dropdown-content dropdown-left"></div>
                        </div>
                    </div>
                    <button type="button" class="switch-button" id="switch_translation">⇆</button>
                    <div class="dropdown_box">
                        <div class="dropdown" id="target-dropdown">
                            <button type="button" class="dropdown-button"><span style="font-size: 1.5em;">⌄</span></button>
                            <div id="target-dropdown-content" class="dropdown-content dropdown-right"></div>
                        </div>
                    </div>
                </div>
                <div class="textarea-container">
                    <textarea placeholder="{{ _('Texte à traduire') }}" id="text" name="text" required></textarea>
                    <textarea placeholder="{{ _('Traduction') }}" id="result" readonly></textarea>
                </div>
                <div class="button-row">
                    <button class="proceed_button" id="translate-btn" style="font-size: 1em;">{{ _('Traduire') }}</button>
                    <button class="refresh_button" id="refresh-translation"><span>⟳</span></button>
                </div>
            </form>
        </div>

    </div>
    <script src="/static/js/index.js"></script>
</body>

<footer>
    <p>Copyright © Altux SA</p>
</footer>

</html>

