<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn DeFi</title>
    <link rel="stylesheet" href="/static/css/cours.css">
</head>

<body>
    <div id="menu"></div>

    <div class="container">
        <h1>Commençons !</h1>
        <!-- Les Bases -->
        <div class="form-container">
            <form id="translation-form">
                <h2>Les bases</h2>
                <p>Ce cours traite des conceptes de base et des origines de la finance.</p>
                <div class="button-row">
                    <a href="/cours1/mod1/theme1/theorie.html" class="proceed_button">Valider: Page suivante</a>
                </div>
            </form>
        </div>

    </div>
    <footer>
        <p>Copyright ©</p>
    </footer>
    <script src="/static/js/index.js"></script>
</body>

</html>

