<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn DeFi</title>
    <link rel="stylesheet" href="/static/css/cours.css">
</head>

<body>
    <div class="margin-content">
        <a href="/" class="form-menu">
            <div class="logo-container">
                <img src="/static/img/ubtlh-logo.png" alt="altux-logo">
            </div>
        </a>
        <div class="menu-category">
            <h3>Cours</h3>
        </div>
        <!-- ======================================================================= -->
        <div class="dropdown">
            <button type="button" class="form-menu">
                <div class="logo-number">
                    <img src="/static/img/un.png" alt="altux-logo">
                </div>
            </button>
            <div class="dropdown-content">
                <h3>Module 1</h3>
                <!-- .............................................. -->
                <div class="sub-dropdown">
                    <button type="button" class="sub-dropdown-toggle">
                        <a>Thème n°1 <span style="font-size: 1.5em;">⌄</span></a>
                    </button>
                    <div class="sub-dropdown-content">
                        <a href="/cours3/mod1/theme1/theorie.html">Théorie</a>
                        <a href="/cours3/mod1/theme1/pratique.html">Pratique</a>
                        <a href="/cours3/mod1/theme1/defi.html">Défi</a>
                    </div>
                </div>
                <!-- .............................................. -->
                <div class="sub-dropdown">
                    <button type="button" class="sub-dropdown-toggle">
                        <a>Thème n°2 <span style="font-size: 1.5em;">⌄</span></a>
                    </button>
                    <div class="sub-dropdown-content">
                        <a href="/cours3/mod1/theme2/theorie.html">Théorie</a>
                        <a href="/cours3/mod1/theme2/pratique.html">Pratique</a>
                        <a href="/cours3/mod1/theme2/defi.html">Défi</a>
                    </div>
                </div>
                <!-- .............................................. -->
                <div class="sub-dropdown">
                    <button type="button" class="sub-dropdown-toggle">
                        <a>Thème n°3 <span style="font-size: 1.5em;">⌄</span></a>
                    </button>
                    <div class="sub-dropdown-content">
                        <a href="/cours3/mod1/theme3/theorie.html">Théorie</a>
                        <a href="/cours3/mod1/theme3/pratique.html">Pratique</a>
                        <a href="/cours3/mod1/theme3/defi.html">Défi</a>
                    </div>
                </div>
                <!-- .............................................. -->
            </div>
        </div>
        <!-- ======================================================================= -->
        <div class="dropdown">
            <button type="button" class="form-menu">
                <div class="logo-number">
                    <img src="/static/img/deux.png" alt="altux-logo">
                </div>
            </button>
            <div class="dropdown-content">
                <h3>Module 2</h3>
                <!-- .............................................. -->
                <div class="sub-dropdown">
                    <button type="button" class="sub-dropdown-toggle">
                        <a>Thème n°1 <span style="font-size: 1.5em;">⌄</span></a>
                    </button>
                    <div class="sub-dropdown-content">
                        <a href="/cours3/mod2/theme1/theorie.html">Théorie</a>
                        <a href="/cours3/mod2/theme1/pratique.html">Pratique</a>
                        <a href="/cours3/mod2/theme1/defi.html">Défi</a>
                    </div>
                </div>
                <!-- .............................................. -->
                <div class="sub-dropdown">
                    <button type="button" class="sub-dropdown-toggle">
                        <a>Thème n°2 <span style="font-size: 1.5em;">⌄</span></a>
                    </button>
                    <div class="sub-dropdown-content">
                        <a href="/cours3/mod2/theme2/theorie.html">Théorie</a>
                        <a href="/cours3/mod2/theme2/pratique.html">Pratique</a>
                        <a href="/cours3/mod2/theme2/defi.html">Défi</a>
                    </div>
                </div>
                <!-- .............................................. -->
                <div class="sub-dropdown">
                    <button type="button" class="sub-dropdown-toggle">
                        <a>Thème n°3 <span style="font-size: 1.5em;">⌄</span></a>
                    </button>
                    <div class="sub-dropdown-content">
                        <a href="/cours3/mod2/theme3/theorie.html">Théorie</a>
                        <a href="/cours3/mod2/theme3/pratique.html">Pratique</a>
                        <a href="/cours3/mod2/theme3/defi.html">Défi</a>
                    </div>
                </div>
                <!-- .............................................. -->
            </div>
        </div>
        <!-- ======================================================================= -->
        <div class="dropdown">
            <button type="button" class="form-menu">
                <div class="logo-number">
                    <img src="/static/img/trois.png" alt="altux-logo">
                </div>
            </button>
            <div class="dropdown-content">
                <h3>Module 3</h3>
                <!-- .............................................. -->
                <div class="sub-dropdown">
                    <button type="button" class="sub-dropdown-toggle">
                        <a>Thème n°1 <span style="font-size: 1.5em;">⌄</span></a>
                    </button>
                    <div class="sub-dropdown-content">
                        <a href="/cours3/mod3/theme1/theorie.html">Théorie</a>
                        <a href="/cours3/mod3/theme1/pratique.html">Pratique</a>
                        <a href="/cours3/mod3/theme1/defi.html">Défi</a>
                    </div>
                </div>
                <!-- .............................................. -->
                <div class="sub-dropdown">
                    <button type="button" class="sub-dropdown-toggle">
                        <a>Thème n°2 <span style="font-size: 1.5em;">⌄</span></a>
                    </button>
                    <div class="sub-dropdown-content">
                        <a href="/cours3/mod3/theme2/theorie.html">Théorie</a>
                        <a href="/cours3/mod3/theme2/pratique.html">Pratique</a>
                        <a href="/cours3/mod3/theme2/defi.html">Défi</a>
                    </div>
                </div>
                <!-- .............................................. -->
                <div class="sub-dropdown">
                    <button type="button" class="sub-dropdown-toggle">
                        <a>Thème n°3 <span style="font-size: 1.5em;">⌄</span></a>
                    </button>
                    <div class="sub-dropdown-content">
                        <a href="/cours3/mod3/theme3/theorie.html">Théorie</a>
                        <a href="/cours3/mod3/theme3/pratique.html">Pratique</a>
                        <a href="/cours3/mod3/theme3/defi.html">Défi</a>
                    </div>
                </div>
                <!-- .............................................. -->
            </div>
        </div>
        <!-- ======================================================================= -->
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>

