body {
  font-family: Inter, Arial;
  margin: 0;
  background: lightblue;
  color: #051524;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: 0 2rem 0 2rem;
  padding: 0 1rem;
  border-radius: 15px;
  background-color: darkblue;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
}

.logo {
  text-decoration: none;
  font-weight: 700;
}

.tools {
  background: black;
  color: white;
  padding: 1rem;
  border-radius: 30px;
}

.card {
  background: darkblue;
  width: 70%;
  height: 100%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(2,6,23,.06);
}

.pools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: lightblue;
}

.pool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
}

.btn {
  padding: .5rem .75rem;
  border-radius: 8px;
  background: lightblue;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: .5rem;
  margin-top: 1rem
}

#output {
  background: #0d1117;
  color: #e6eef8;
  padding: 1rem;
  border-radius: 8px;
}
