<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn DeFi</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="margin-content">
        <a href="/" class="form-menu">
            <p>Home</p>
        </a>
        <div class="menu-category">
            <h3>Cours</h3>
        </div>
        <a href="cours1/cours1.html" class="form-menu">
            <p>Les bases</p>
        </a>
        <a href="cours2/cours2.html" class="form-menu">
            <p>Les bases de la DeFi</p>
        </a>
        <a href="cours3/cours3.html" class="form-menu">
            <p>La DeFi en pratique</p>
        </a>
    </div>
    <div class="container">
        <h1>Bon retour parmis <span class="color">nous !</span></h1>
        <!-- Les Bases -->
        <a href="cours1/cours1.html" class="form-container">
            <form id="translation-form">
                <h2>Les bases</h2>
                <div class="button-row">
                    <div class="proceed_button">Commencer</div>
                </div>
            </form>
        </a>

        <!-- Les Bases de la DeFi -->
        <a href="cours2/cours2.html" class="form-container">
            <form id="translation-form">
                <h2>Les bases de la DeFi</h2>
                <div class="button-row">
                    <div class="proceed_button">Commencer</div>
                </div>
            </form>
        </a>

        <!-- La DeFi en pratique -->
        <a href="cours3/cours3.html" class="form-container">
            <form id="translation-form">
                <h2>La DeFi en pratique</h2>
                <div class="button-row">
                    <div class="proceed_button">Commencer</div>
                </div>
            </form>
        </a>

    </div>
    <footer>
        <p>Copyright ©</p>
    </footer>
    <script src="/static/js/index.js"></script>
</body>

</html>
